body
{
	font-family: 'Dosis', sans-serif;
	font-size: 16px;
	padding: 0px;
	margin: 0px;
	background-color: rgb(44, 45, 61);
}

a
{
	text-decoration: none;
}

#code-container
{
	display: flex;
	flex-direction: row;
	justify-content: center;
	height: 100vh;
	color: white;
	align-items: center;
	word-wrap: normal;
}

.code-desc
{
	color: rgb( 242, 242, 242 );
	font-size: 16px;
}

.code-note
{
	color: rgb(255, 156, 156);
}

.code-funcname
{
	color: white;
	font-size: 32px;
}

.code-funcargs
{
	color: rgb(77, 84, 161);
	font-size: 24px;
}

.code-funcname.client
{
	color: rgb(241, 215, 101);
}

.code-funcname.server
{
	color: rgb(90, 159, 222);
}

.code-funcname.shared
{
	color: rgb(126, 62, 176);
}


#navlist
{
	width: 15vw;
	height: calc(100vh - 20px);
	padding: 10px;
	display: flex;
	flex-direction: column;
	background-color: rgb(39, 40, 60);
	overflow-y: scroll;
	float: left;
}

.navlist-element
{
	margin-bottom: 2px;
	color: white;
	font-weight: bold;
}

.navlist-element.client
{
	color: rgb(241, 215, 101);
}

.navlist-element.server
{
	color: rgb(90, 159, 222);
}

.navlist-element.shared
{
	color: rgb(126, 62, 176);
}

::-webkit-scrollbar
{
	width: 4px;
	height: 4px;
}

::-webkit-scrollbar-corner
{
	background: rgb(31, 31, 34);
}

::-webkit-scrollbar-button
{
	background: rgb(52, 52, 57);
}

::-webkit-scrollbar-track
{
  	background: rgb(31, 31, 34);
}

::-webkit-scrollbar-thumb
{
  	background: rgb(52, 52, 57);
}
